<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://use.fontawesome.com/3d5fa86801.js"></script>
    {% block title %}<title>KinectMe</title>{% endblock %}
    {% load static %}
    <style>
        body{
            background-color: whitesmoke;
        }
    </style>
      </head>
      <body>
   
        <!-- Sidebar -->
        <nav class="navbar navbar-light bg-info">
            <a class="navbar-brand">KinectMe</a>
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
          </nav>
  

  
  <div class="container">
      <div class="col-md-10">
          <div class="row">
              <div class="container">
                  <div class="col-4"></div>
                  <h3 class="font-italic font-weight-lighter">Friday, November 9, 2020</h3>
                  <h1 class="font-weight-bold"> Three Sister's Ride</h1>
                  <h4 class="font-weight-light">Hosted By</h4>
                 
                  <h4 class="font-weight-light">Kenzie, Jenn, Jeremy, Anthony, Cesar</h4>  
                      
                      <div style="margin-bottom: 20px;" class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Action
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Join event</a>
                          <a class="dropdown-item" href="#">Leave event</a>
                          <a class="dropdown-item" href="#">Contact</a>
                          
                        </div>
                      </div>

                      <a style="margin-bottom: 20px;" href="#" class="btn btn-outline-info">Share</a>

                      <div class="container">
                        {% load static %}
                      <img height="200px" width="200px" src="{% static "/fondo2.jpg" %}" alt="My image"/>
                      </div>
                      
                </div>  

                
          </div>
      </div>
  </div>

  <div class="container" style="margin-bottom:20px;">
    <div class="row">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <div class="card-text">Freedom Cruisers Riding <br> Club Chapter 44</div>
            </div>
        </div>
      </div>  
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
            <div class="card-body">

                <div class="card-text">Friday, November 6, 2020, 9:00 AM to <br> Monday, November 9, 2020, 11:00 AM CST </div>
            </div>
        </div>
      </div>  
    </div>
  </div>

  <div class="container" style="margin-top: 20px;">
      <div class="col-md-12">
          <div class="row justify-content-center">
          <div class="card">
              <div class="card-body">
                <h4 style="margin-right:10px;"  class="font-weight-bold">Details </h4>
                <h5 class="font-weight-light"> Spend the weekend riding the Twisted Sisters in the Texas Hill Country.
                
                Chapter 45 and Chapter 110 will be joining us. They are meeting on Friday November 6, 2020 at 9:00am KSU at 9:30am. Feel free to get there on your own or ask if someone is riding later.
                
                This is an attentive schedule. I'm going early to Kerrville. Saturday morning we ride the sisters at 9 am. Saturday night pool time if its open. If not we can hang out at River Walk. Sunday morning we check out. We will ride to The Alamo and do some sight seeing. We will leave after lunch. Stop at Buckie's. Ride home check in to tell us you got home safe. You are free to stay anywhere you like. New hotel information. We normally stay at the Best Western in Kerrville. Their member rate is $75 and 94 for non member. Right across the street is a Super 8 which uses Wyndham rewards is $94 non member and 85 We can use both of these for riders to stay at. On our way back home, we will stop at the Alamo for some group pictures and probably some lunch before we ride home. Depending on the time.
                </h5>
              </div>
          </div>
        </div>
      </div>
  </div>


  
  
  
  <script>
 
  </script>
      
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>